<!DOCTYPE html>
<html>
<head>
  <title>Bitworker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <% if current_user %>
      <div class="session_nav">
        <h3>
          Eingeloggt als <%= current_user.email %> | 
          <%= link_to "Mein Konto", %> | 
          <%= link_to "Ausloggen", logout_path %>
        </h3>
      </div>
      <div class="site_nav">
        <div class="padding20">
          <h3>
            <%= link_to "Sell", sell_path %> |
            <%= link_to "Buy", buy_path %>
          </h3>
        </div>
      </div>
    <% else %>
      <div class="session_nav">
        <h3>
          <%= link_to "Sign up", signup_path %> or
          <%= link_to "log in", login_path %>.  
        </h3>
      </div>
    <% end %>
    
  <% flash.each do |name, msg| %>
    <% if flash[:notice] %>
		<div class="ui-widget">
			<div class="ui-state-highlight ui-corner-all" style="margin:20px; padding: 0 .7em;"> 
				<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
        <strong>Information: </strong><%= flash[:notice] %></p>
			</div>
		</div>
    <% end %> 
    <% if flash[:alert] %>    
      <div class="ui-widget">
			  <div class="ui-state-error ui-corner-all" style="margin:20px; padding: 0 .7em;"> 
				  <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
				  <strong>Achtung: </strong><%= flash[:alert] %></p>
			  </div>
		  </div>
    <% end %>
  <% end %>

  <div class="main">
    
      <%= yield %>
      
  </div>  

</body>
</html>
